.flashy {
  color: red;
  font-style: italic;
}
.best {
  font-style: bold;
  font-size: 40px;
}

.green-background {
  background-color: green;
}
.yellow-background {
  background-color: yellow;
}
.red-background {
  background-color: red;
}
